body {
	background-color: #8B4513;
}

p {
	width:1000px;
	color: #FFEBCD;
}

h1 {
	color: #F5DEB3;
	font-family: "Lucida Sans Unicode";
	text-align: center;
}

h2 {
	font-family: "Lucida Sans Unicode";
	font-size: 32px;
	color: #FFEBCD;
}

a:hover{
	color:#CCC; 
	background-color:#000;
	display: inline;
}


.title {
	font-size: 23px;
	color: #FFE4E1;
}

#contact {
	font-family: "Lucida Sans Unicode";
	font-size: 19px;
	color: #FFEBCD;
}

.list {
	font-family: "Lucida Sans Unicode";
	font-size: 17px;
	color: #FFEBCD;
}

#bio {
	font-family: "Lucida Sans Unicode";
	font-size: 20px;
	padding: 20px;
	border:5px groove #654321;
	text-align: justify;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

a {
	font-family: "Lucida Sans Unicode";
	font-size: 20px;
}

a:link {
 color: #FFEBCD /*The color of the link*/
}
a:visited {
 color: #FFD700 /*The color of the visited link*/
}
a:hover {
	background-color:#000;
	display: inline;
 	color: #8B4513 /*The color of the mouseover or 'hover' link*/
}
